/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.slider-3 {
  max-width: 1100px;
  width: 100%;
  top: 790px;
  position: relative;
}
.slider-3 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.slider-3 i:active{
  transform: translateY(-50%) scale(0.85);
}
.slider-3 i:first-child{
  left: -22px;
}
.slider-3 i:last-child{
  right: -22px;
}
.slider-3 .carousel-slider2{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-slider2::-webkit-scrollbar {
  display: none;
}
.carousel-slider2.no-transition3 {
  scroll-behavior: auto;
}
.carousel-slider2.dragging3 {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel-slider2.dragging3 .card-2 {
  cursor: grab;
  user-select: none;
}
.carousel-slider2 :where(.card-2, .img-slider2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-slider2 .card-2 {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel-slider2 .card-2 .img-slider2{
  height: 300px;
}
.card-2 h3{
  text-align: center;
  padding-top: 5px;
}
.card-2 .img-slider2 img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;

}
.carousel-slider2 .card-2 h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel-slider2 .card-2 span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .slider-3 .carousel-slider2 {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .slider-3 .carousel-slider2 {
    grid-auto-columns: 100%;
  }
}
.fa-angle-left2,
.fa-angle-right2
{
    color: #D4A32E;
}